.big-event-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 140px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 20px;
  color: #FFF;
}

.big-event-card h1{
  font-weight: 700;
}

.big-event-card h3{
  margin-left: 20px;
}